* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(63, 59, 59);
  background-color: rgb(255, 255, 255);
}

h2 {
  color: #000000;
}

body {
  text-align: center;
  border-radius: 15px;
  border: 1px solid #ff0000;
}
